aggdraw==1.3.12
alembic==1.6.5
aniso8601==9.0.1
arrow==1.1.1
attrs==21.2.0
click==8.0.1
cycler==0.10.0
docopt==0.6.2
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Migrate==2.5.2
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
gevent==1.4.0
greenlet==1.1.0
gunicorn==20.1.0
imageio==2.9.0
importlib-metadata==4.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.2
Mako==1.1.4
MarkupSafe==2.0.1
marshmallow==2.13.6
matplotlib==3.4.3
networkx==2.6.3
numpy==1.21.2
pandas==1.3.0
Pillow==8.3.2
psd-tools==1.9.18
psycopg2==2.9.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
PyWavelets==1.1.1
scikit-image==0.18.3
scipy==1.7.1
six==1.16.0
SQLAlchemy==1.4.20
Theano==1.0.5
tifffile==2021.8.30
typing-extensions==3.10.0.0
webargs==1.8.1
Werkzeug==2.0.1
zipp==3.5.0
